<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="" th:href="@{/css/createemployee.css}">
    <title>Create employee</title>
</head>
<body>
<div id="main">
    <div id="first">
        <form th:action="@{/employee-mvc/save-employee}" th:object="${employee}" method="post">
            <h1>Add new employee</h1>
            <h4>Please fill all entries.</h4>
            <label>Name: </label>
            <input type="text" name="name" th:field="*{name}">
            <label>Surname: </label>
            <input type="text" name="surname" th:field="*{surname}">
            <label>Birthday:</label>
            <input type="text" th:field="*{birthday}" placeholder="yyyy-MM-dd" />
            <label>Salary: </label>
            <input type="text" name="salary" th:field="*{salary}">
            <button type="submit">Add</button>
        </form>
    </div>
</div>
</body>
</html>